.App {
  text-align: center;
}

.selection-dropdown-menu {
  width: 80%;
  height: 40px;
  background-color: rgb(129, 128, 128);
  font-weight: 600;
  font-size: 18px;
  border-radius: 5px;
}

.route-info {
  display: flex;
  justify-content: center;
  margin: 40px;
}
.start-end-line-container {
  color: white;
  background: rgb(43, 108, 176);
  padding: 5px;
  border-radius: 5px;
  margin: 20px;
  width: 40%;
  height: 120px;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-weight: 600;
}

.start-end-line-title {
  align-self: flex-start;
  margin-top: 0;
  font-size: small;
  font-weight: bolder;
}

.arrow {
  margin: 20px;
  margin-top: 60px;
  font-size: 32px;
  font-weight: 700;
}
